<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Waiting Page</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="Mystyle.css">
  <link rel="icon" href="img/CSCI_3308_logo.png">
    <!-- Custom styles for this template -->
  </head>

  <style>
  * {
    box-sizing: border-box;
    }
    .container_1 {
      float: left;
      width: 900px;
      height: 600px;
      padding-top: 100px;
      padding-left: 200px;
    }
    .column_3 {
      float: left;
      padding-left: 140px;
    }
    .button1 {
      background-color: white;
      color: black;
      border: 5px solid #ff8c69;
      font-size: 24px;
    }

    #loadingBar {
      width: 100%;
      background-color: white;
    }

    #myBar {
      width: 1%;
      height: 30px;
      background-color: #ff8c69;
    }

    }
    </style>

  <body style="background-color:#F4ECE6;">
    <div class="container">
      <div class="jumbotron jumbotron-fluid" id ="waitingJumbo">
        <div class="container">
          <!-- <h1>RDraw</h1> -->
          <div class="text-center">
            <img class ="shortenlogo" src="img/CSCI_3308_logo.png" width="500" height="600" alt="logo">
          </div>
          <div id = "gallery">
            <!-- add images here or write a function to fill in images -->
          </div>
        </div>
      </div>
          <div id = 'loadingBar'>
        <div class="w3-light-grey w3-round">
          <div  id ="myBar" class="w3-container w3-round w3-" style="width:20%">Loading</div>
        </div>
        <!-- https://www.w3schools.com/w3css/w3css_progressbar.asp -->
      </div>

      <div class="container_1">
        <div class="form-check form-check-inline">
        <div class="row_1">
          <div class="form-check form-check-inline">
          <div class = "column_1" align = "center">
            <img  id= "profile" src="img/profilepic.png" alt = "pencil drawing" width="400" height="400" align ="center"></div>
            <div class="form-check form-check-inline">
          <div class="column_2" align = "center">
            <img  id= "pencilPic" src="img/drawingblack.png" alt = "pencil drawing" width="300" height="300" align = "center"></div>
        </div>
      </div>
      </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="row_2">
          <div class="form-check form-check-inline">
          <div class="column_3" align = "center">
            <div class="form-check form-check-inline">
            <button type="button" class="button1">Edit Profile</button>
          </div>
        </div>
        </div>
        </div>
      </div>
  </div>

  </div>
  <script>

function move() {
  var i = 0;
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
        window.location.href = "drawroom";
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
}
</script>
  <script>
        move();
  		// var id = setInterval(move, 4000);

</script>

  </body>
