body{
	font-family: 'Shadows Into Light' ;
}
h1{
	font-size: 150px;
	text-align: center;
}

#profile{
	padding: 50px;
	text-align: center;
	/*background-color: #ffb000;*/
}
.myCOL{
	background-color: #d5908d;
	width: 40vw;
	margin-left: 4vw;
}
.aCOL{
	width: 40vw;
}
#pencilPic{
	max-height: 400px;

}
#loadingBar{
	margin-top: 10px;
}
.shortenlogo{
	max-height: 350px;
}
#waitingJumbo{
	padding: 0;
	background-color: #f4ece6;
}
.R{
	margin-left: 5vw;
}
#myCanvas{
	width:75vw;
	height: 60vh;
}
#options{
	list-style: none;


}
.optionsbut{
	display:inline;
}